   
         <!-- Sticky footer -->
         <footer class="footer fixed-bottom bg-dark ">
               <div class="container py-2 d-flex justify-content-center ">
                  <div class="d-inline mx-1">
                     <span class="text-white">YelpCamp 2019 <span class="text-muted">|</span></span>
                  </div>
                  <div class="d-inline mx-1">
                     <a href="/campgrounds">Home <span class="text-muted">|</span></a>
                  </div>
                  <div class="d-inline mx-1">
                     <a href="/campgrounds/new">New Campground</a>
                  </div>
               </div>
         </footer>
     </div><!-- /.container -->
   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
   
   </body>
</html>