<% include partials/header %>

<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-6 ">
            <h1>Landing Page</h1>

            <p>Welcome to YelpCamp!</p>

            <a class="btn btn-primary btn-sm" href="/campgrounds">View All Campgrounds</a>
        </div>
    </div>
</div>


<% include partials/footer %>