<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body >
        
        <div class="container mb-0">
                <% if(error && error.length > 0) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= error %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>
                
                <% if(success && success.length > 0) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <%= success %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>
            
        </div>       

        <div id="landing-header" class="container mt-0">
                           
            <div  class="row">
                <div  class="col-12">
                    <h1 class="p-4 font-weight-bold text-white">Welcome to YelpCamp!</h1>
                    <a class="btn btn-primary btn-lg" href="/campgrounds">View All Campgrounds</a>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center my-4">
                    <form action="/campgrounds" method="GET" class="form-inline" id="campground-search">
                        <div class="form-row">
                            <div class="form-group ">
                                <input type="text" name="search" placeholder="Campground search..." class="form-control">
                                <input type="submit" value="Search" class="btn btn-info mx-2">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        

        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

<% include ./partials/footer %>