<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-8 centered">
            <h1>Campgrounds Page</h1>

            <p>Welcome to YelpCamp!</p>

            <a class="btn btn-primary btn-lg" href="/campgrounds">View All Campgrounds</a>
        </div>
    </div>
</div>


<% include ./partials/footer %>