<% include ../partials/header %> 

<div class="container show1">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-9">
            <div class="card p-0 my-4 ">
                <div class="card-body">
			       <h2>Notifications</h2>
				</div>
				<div class="row d-flex justify-content-start">
					<div class="col-12 col-lg-9 mt-4 ">
						<ul>
							<% allNotifications.forEach(function(notification) { %>                       
								<li>
									<a href="/campgrounds/<%= notification.campgroundId %>">
										<%= notification.username %> created a new campground %>
									</a>
								</li>
							<% }); %>
						</ul>
					</div>
				</div>	
		   </div>
	    </div>
	</div>			
</div>
<% include ../partials/footer %> 