body {
    width:100%;
    height: 900px;
    background-image: url('../img/Sunset.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    margin:0; /*gets rid of white space around body*/
    margin-top:16px;
    position:relative; /*REQUIRED Sets up positioning for your footer*/
  }

  .centered {
      padding: 40px;
      background: #f9faf8;
      margin: 20% 0 0 20%; 
      text-align: center;
     }

  .jumbotron {
    margin-top: 5%;
  }

  .show {
    margin-top: 3%;
  }

  .show1 {
    margin-top: 10%;
  }

  